@import "../../../../colors/catppuccin_mocha.css";

* {
  font-family: Iosevka Fixed, Material Design Icons Desktop;
  font-size: 14px;
  min-height: 30px;
}

window#waybar {
  background-color: @bg;
  color: @fg;
}

button {
  background-color: @bg;
  color: @fg;
  box-shadow: inset 0 -2px @fg;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  background-color: transparent;
  color: @white;
  box-shadow: inset 0 -3px @white;
}

#workspaces button {
  background-color: transparent;
  color: @fg;
  box-shadow: inset 0 -2px @fg;
  padding: 0 5px;
}

#workspaces button:hover {
  background-color: transparent;
  color: @white;
  box-shadow: inset 0 -3px @white;
}

#workspaces button.focused,
#workspaces button.active {
  background-color: transparent;
  color: @fg;
  box-shadow: inset 0 -5px @blue;
}

#workspaces button.urgent {
  background-color: transparent;
  color: @red;
  box-shadow: inset 0 -2px @red;
}
#workspaces button.urgent:hover {
  background-color: transparent;
  color: @red;
  box-shadow: inset 0 -3px @red;
}

/* #workspaces button.hidden {} */

/* -------------------------------------------------------------------------------- */

#custom-launcher,
#window,
#tray,
#cpu,
#memory,
#backlight,
#pulseaudio,
#network,
#bluetooth,
#battery,
#clock,
#custom-powermenu {
  padding: 0 6px;
  background-color: transparent;
  box-shadow: inset 0 -2px @fg;
}

/* -------------------------------------------------------------------------------- */

/* #window {} */

/* -------------------------------------------------------------------------------- */

#custom-launcher {
  color: @blue;
  box-shadow: inset 0 -2px @blue;
}
#custom-launcher:hover {
  box-shadow: inset 0 -3px @blue;
}

#custom-powermenu {
  color: @red;
  box-shadow: inset 0 -2px @red;
}
#custom-powermenu:hover {
  box-shadow: inset 0 -3px @red;
}

/* -------------------------------------------------------------------------------- */

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* -------------------------------------------------------------------------------- */

/* #tray {} */
#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

/* -------------------------------------------------------------------------------- */

#cpu {
  color: @sapphire;
  box-shadow: inset 0 -2px @sapphire;
}
#cpu:hover {
  box-shadow: inset 0 -3px @sapphire;
}

/* -------------------------------------------------------------------------------- */

#memory {
  color: @green;
  box-shadow: inset 0 -2px @green;
}
#memory:hover {
  box-shadow: inset 0 -3px @green;
}

/* -------------------------------------------------------------------------------- */

#backlight {
  color: @white;
  box-shadow: inset 0 -2px @white;
}
#backlight:hover {
  box-shadow: inset 0 -3px @white;
}

/* -------------------------------------------------------------------------------- */

#pulseaudio {
  color: @mauve;
  box-shadow: inset 0 -2px @mauve;
}
#pulseaudio:hover {
  box-shadow: inset 0 -3px @mauve;
}

#pulseaudio.bluetooth {
  color: @blue;
  box-shadow: inset 0 -2px @blue;
}
#pulseaudio.bluetooth:hover {
  box-shadow: inset 0 -3px @blue;
}

#pulseaudio.muted {
  color: @red;
  box-shadow: inset 0 -2px @red;
}
#pulseaudio.muted:hover {
  box-shadow: inset 0 -3px @red;
}

/* -------------------------------------------------------------------------------- */

/* #network {} */
#network.disabled,
#network.disconnected {
  color: @red;
  box-shadow: inset 0 -2px @red;
}
#network.disabled:hover,
#network.disconnected:hover {
  box-shadow: inset 0 -3px @red;
}

/* #network.linked {} */

#network.ethernet,
#network.wifi {
  color: @blue;
  box-shadow: inset 0 -2px @blue;
}
#network.ethernet:hover,
#network.wifi:hover {
  box-shadow: inset 0 -3px @blue;
}

/* -------------------------------------------------------------------------------- */

/* #bluetooth {} */
#bluetooth.disabled,
#bluetooth.off {
  color: @red;
  box-shadow: inset 0 -2px @red;
}
#bluetooth.disabled:hover,
#bluetooth.off:hover {
  box-shadow: inset 0 -3px @red;
}

#bluetooth.on,
#bluetooth.connected {
  color: @blue;
  box-shadow: inset 0 -2px @blue;
}
#bluetooth.on:hover,
#bluetooth.connected:hover {
  box-shadow: inset 0 -3px @blue;
}

/* #bluetooth.discoverable {} */
/* #bluetooth.discovering {} */
/* #bluetooth.pairable {} */

/* -------------------------------------------------------------------------------- */

/* #battery {} */
#battery.full {
  color: @green;
  box-shadow: inset 0 -2px @green;
}
#battery.full:hover {
  box-shadow: inset 0 -3px @green;
}

#battery.warning {
  color: @yellow;
  box-shadow: inset 0 -2px @yellow;
}
#battery.warning:hover {
  box-shadow: inset 0 -3px @yellow;
}

#battery.critical {
  color: @red;
  box-shadow: inset 0 -2px @red;
}
#battery.critical:hover {
  box-shadow: inset 0 -3px @red;
}

/* -------------------------------------------------------------------------------- */

#clock {
  color: @white;
  box-shadow: inset 0 -2px @white;
}
#clock:hover {
  box-shadow: inset 0 -3px @white;
}
