@import "/home/gdmr/.config/waybar/themes/mocha.css";

/* Download icons font: https://github.com/Templarian/MaterialDesign-Font */
* {
  font-family: Iosevka Fixed, Material Design Icons Desktop;
  font-size: 14px;
}

/* Waybar */
window#waybar {
  background-color: rgba(30, 30, 46, 0.6);
  color: @text;
  /* transition-property: background-color; */
  /* transition-duration: 0.5s; */
}

/* Modules */
#tray,
#custom-media,
#cpu,
#memory,
#backlight,
#pulseaudio,
#network,
#bluetooth,
#battery,
#clock,
#custom-sysmenu,
#window {
  padding: 2px 10px;
  color: @text;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 20px;
}

/* Launcher */
#custom-launcher {
  background-color: @lavender;
  color: @crust;
  padding: 1px 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 2px;
  border-radius: 20px;
  /* transition-duration: 0.2s; */
}

/* Workspaces */
#workspaces {
  margin-left: 2px;
  margin-right: 2px;
}

#workspaces button {
  background-color: @surface0;
  padding: 1px 8px;
  color: @subtext0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 20px;
  /* transition-duration: 0.2s; */
}

#workspaces button:hover {
  background-color: @blue;
  color: @crust;
  /* transition-duration: 0.2s; */
}

#workspaces button.active {
  /* padding: 1px 12px; */
  background-color: @green;
  color: @crust;
  /* transition-duration: 0.2s; */
}

#workspaces button.focused {
  background-color: @green;
  color: @crust;
}

#workspaces button.urgent {
  background-color: @red;
  color: @crust;
}

/* Tray */
#tray {
  background-color: #2980b9;
  color: @crust;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/* CPU */
#cpu {
  background-color: @sapphire;
  color: @crust;
}

/* Custom Media */
#custom-media {
  background-color: @mauve;
  color: @crust;
}

#custom-media.playing {
  background-color: @green;
  /* transition-duration: 0.5s; */
}

#custom-media.paused {
  background-color: @red;
  /* transition-duration: 0.5s; */
}

/* Memory */
#memory {
  background-color: @green;
  color: @crust;
}

/* Backlight */
#backlight {
  background-color: #ffffff;
  color: @crust;
}

/* Pulseaudio */
#pulseaudio {
  background-color: @mauve;
  color: @crust;
}

#pulseaudio.muted {
  background-color: @red;
  color: @crust;
}

/* Network */
#network {
  background-color: @blue;
  color: @crust;
}

#network.disconnected {
  background-color: @red;
  color: @crust;
}

/* Bluetooth */
#bluetooth {
  background-color: @blue;
  color: @crust;
}

#bluetooth.disabled {
  background-color: @lavender;
}

#bluetooth.off {
  background-color: @red;
}

/* Battery */
#battery {
  background-color: @green;
  color: @crust;
}

#battery.charging,
#battery.plugged {
  background-color: @teal;
  color: @crust;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @crust;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Clock */
#clock {
  background-color: @lavender;
  color: @crust;
}

/* Custom SysMenu */
#custom-sysmenu {
  background-color: @red;
  color: @crust;
  padding: 1px 8px;
  margin-right: 10px;
}
