input {
    keyboard {
        xkb {
            layout "latam"
        }
        repeat-delay 200
        repeat-rate 32
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
    }
}

layout {
    default-column-width { proportion 0.5; }
    gaps 0

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        width 1
        active-color "#9ebc9f"
        inactive-color "#595959"
    }

    border {
        off
    }

    shadow {
        off
    }
}

spawn-at-startup "nm-applet" "--indicator"
spawn-at-startup "blueman-applet"

spawn-sh-at-startup "qs -c noctalia-shell"

hotkey-overlay {
}

prefer-no-csd

animations {
}

debug {
    honor-xdg-activation-with-invalid-serial
}

window-rule {
    match app-id=r#"(?i)kitty"#
    default-column-width { proportion 1.0; }
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return hotkey-overlay-title="Open Terminal: kitty" { spawn "kitty"; }
    
    Mod+E hotkey-overlay-title="Open File Manager: nautilus" { spawn "nautilus"; }
    
    Mod+Space hotkey-overlay-title="Application Launcher" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    
    Mod+P hotkey-overlay-title="Session Menu" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"; }
    
    Ctrl+Shift+0 hotkey-overlay-title="Lock Screen: hyprlock" { spawn "hyprlock"; }

    Mod+C repeat=false { close-window; }
    
    Mod+V { toggle-window-floating; }
    
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }

    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }
    Mod+Ctrl+0 { move-column-to-workspace 10; }

    Alt+1 { move-window-to-workspace 1; }
    Alt+2 { move-window-to-workspace 2; }
    Alt+3 { move-window-to-workspace 3; }
    Alt+4 { move-window-to-workspace 4; }
    Alt+5 { move-window-to-workspace 5; }
    Alt+6 { move-window-to-workspace 6; }
    Alt+7 { move-window-to-workspace 7; }
    Alt+8 { move-window-to-workspace 8; }
    Alt+9 { move-window-to-workspace 9; }
    Alt+0 { move-window-to-workspace 10; }

    Mod+Page_Down { focus-workspace-down; }
    Mod+Page_Up   { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }

    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp   cooldown-ms=150 { focus-workspace-up; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    
    Mod+Shift+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+W { toggle-column-tabbed-display; }

    Mod+O repeat=false { toggle-overview; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "volumectl -d -u up"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "volumectl -d down"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "volumectl -d toggle-mute"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "volumectl -d -m toggle-mute"; }

    XF86AudioPlay  allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPause allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioNext  allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86AudioPrev  allow-when-locked=true { spawn-sh "playerctl previous"; }

    XF86MonBrightnessUp   allow-when-locked=true { spawn-sh "lightctl -d up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "lightctl -d down"; }

    Print { 
        spawn-sh "mkdir -p ~/Pictures/Screenshots && GRIM_DEFAULT_DIR=~/Pictures/Screenshots grim -t png -l 0"; 
    }
    Shift+Print { 
        spawn-sh "mkdir -p ~/Pictures/Screenshots && GRIM_DEFAULT_DIR=~/Pictures/Screenshots grim -t png -l 0 -g $(slurp)"; 
    }
    Alt+Print { screenshot-window; }
    Ctrl+Print { screenshot-screen; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}
