/* colors */

/* * {
  al:   #00000000;
  bg:   #1F1F1FFF;
  bga:  #ffb30033;
  bar:  #1F1F1FFF;
  fg:   #FFFFFFFF;
  ac:   #ffb300FF;
} */

* {
  al:   #11111b00;
  bg:   #181825ff;
  bga:  #585b7033;
  bar:  #181825ff;
  fg:   #cdd6f4ff;
  ac:   #585b70ff;
}
