window {
    background-color: #181825;
    color: #cdd6f4;
    border-radius: 10px;
    border: 1px solid #9399b2;
    font-family: Iosevka Fixed;
    font-size: 30px;
}

#outer-box {
    background-color: #181825;
    margin: 20px;
}

#input {
    background-color: #11111b;
    color: #cdd6f4;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px 20px;
}

#entry {
    padding: 10px 20px;
    font-size: 16px;
}

#entry:selected {
    border-radius: 20px;
}

#img {
    margin-right: 20px;
}
